* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

body{
    margin: 0 auto;
    padding: 1.5%;
    /* height: 100vh; */
    display: flex;
    justify-content: center;
    align-content: center;
    background-color:rgb(181, 159, 167);

}

.app{
    padding: 10rem;
    /* position: relative; */
    /* display: flex;
    justify-content: center; */
    /* width: 60%; */
    max-width: 55rem;
    overflow: hidden;
    border-radius: 0.5rem;
}


.slider_list {
    display: flex;
    /* justify-content: center; */
    flex-direction: column;
    gap: 1.5rem;
    /* justify-content: space-between; */
    justify-content: space-around;
    width: 100%;
    overflow: hidden;
}


.img_slider{
    display: flex;
    width: 100%;
    /* margin-bottom: 1.5rem; */
    transition: all 3s ease;
}

.slider_item{
    height: 25rem;
    width: 100%;
    background-color:  #453c3c;
    border-radius: 0.5rem;
    object-fit: cover;
    transition: all 3s ease;
}


.dots_hidden {
    display: none;
}

.dots {
    display: flex;
    justify-content: right;
    margin: 0.3rem;
    background-color:rgb(181, 159, 167);

}

.dots label{
    width: 1rem;
    height: 1rem;
    border-radius: 50%;
    border: solid #453c3c 0.2rem;
    margin-top: 1rem;
    margin-right: 0.3rem;
    cursor: pointer;
    background-color: #453c3c ;
    transition: all 3s ease;
}

.dots label:hover{
    background-color: white ;
    border-color: white;
}


.text_container{
    height: 3rem;
    width: 2.5rem;
    overflow: hidden;
}

.text{
    margin: auto;
    display: flex;
    align-items: center;
    transition: all 3s ease;
}

.message{
    margin-right: 1rem;
    margin-top: 1rem;
}

.slider_footer{
    display: flex;
    justify-content: space-between;
}

#img_1:checked ~ .img_slider{
    margin-left: 0;
 }

 #img_2:checked ~ .img_slider{
    margin-left: -100%;
 }

 #img_3:checked ~ .img_slider{
    margin-left: -200%;
 }

 #img_4:checked ~ .img_slider{
    margin-left: -300%;
 }

 #img_5:checked ~ .img_slider{
    margin-left: -400%;
 }